.avatar_list{
    margin-top: 20px;
    flex-wrap: wrap;
    >li{
        list-style: none;
        margin-right: 20px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        img{
            height: 70px;
            width: 70px;
            display: block;
        }
        .delete_icon{
            display: none;
            height: 20px;
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            position: absolute;
            bottom: 0;
            i{
                color: white;
                cursor: pointer;
            }
        }
    }

    >li.no_avatar{
        opacity: 0.6;
        .delete_icon{
            opacity: 0;
            display: flex;
            transition: all 0.3s;
        }
        &:hover{
            .delete_icon{
                opacity: 1;
            }
        }
    }
}

.el-scrollbar__wrap{
    overflow-x: hidden;
}