{% extends 'backend/backend.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/my/css/backend/change_avatar.css">
{% endblock %}

{% block content %}
    <ul class="flex avatar_list" avatar_nid="{{ avatar_id }}">
        {% for avatar in avatar_list %}
            <li>
                <el-radio v-model="changeAvatarId" :label="{{ avatar.nid }}">
                    <img src="{{ avatar.url.url }}" alt="">
                </el-radio>
            </li>
        {% endfor %}
    </ul>
    <el-button type="primary" @click="changeAvatarMethod">修改头像</el-button>
{% endblock %}